<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        .wrapper{
            background-color: #171C26;
            color: #fff;
            padding: 12px 32px;
        }
        .end{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .txt{
            margin-bottom : 50px;
        }
        .hl{
            display: block;
            width: 80%;
        }
        .steps{
            color: #fff;
            list-style-type: upper-roman;
        }
        .h3{
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <h3>Pour générer le code QR, merci de suivre les instructions suivantes : </h3>
        <ul class="steps">
            <li>Aller sur le site de mondial relay et se connecter avec le login : team@findmystuff.io</li>
            <li>Cliquez sur envoi de colis</li>
            <li>La destination du colis est toujours la belgique, le poids max 5kg et le destinataire il faut choisir l'option "Je renseigne les coordonnés de mon destinataire" : 
                <ul>
                    <li>Pour le nom, indiquez : {{lastName}}</li>
                    <li>Pour le prénom, indiquez : {{firstName}}</li>
                    <li>Pour l'adresse, indiquez : {{relaisStreet}}</li>
                    <li>Pour le code postal, indiquez : {{relaisCP}}</li>
                    <li>Pour la ville, indiquez la ville associé au code postal</li>
                    <li>Pour la langue, en anglais</li>
                    <li>Pour le pays, Belgique</li>
                </ul>
            </li>
            <li>Une fois les informations complétés, il faut choisir l'option livraison en point relais :
                <ul>
                    <li>Pour le code postal du point relais, indiquez : {{relaisCP}}</li>
                    <li>Pour la ville, indiquez la ville associé au code postal</li>
                    <li>Pour le pays, Belgique</li>
                    <li>Parmi les choix, choissiez le point relais {{relaisName}}</li>
                    <li>Ce point relais porte comme identifiant : {{relaisNum}}</li>
                </ul>
            </li>
            <li>Il suffit ensuite de payer avec le "Paiement Compte Client" </li>
            <li>Il faut télécharger le code QR au format PDF en cliquant sur le bouton "Scanner QRCode" (dans "Mon profil" > "Mes colis") </li>
            <li>Dernière étape, c'est d'envoyer ce PDF sur votre dashboard admin, dans la section  "Gérer les QR" sur le bon ID du code QR</li>
        </ul>
        <hr class="hl"/>
        <div class="end">
            <a href="https://www.findmystuff.io/" target="_BLANK"><img src="https://firebasestorage.googleapis.com/v0/b/findmystuff-35626.appspot.com/o/logo%2Flogo_white.svg?alt=media&token=738068e0-e37d-44d7-885b-8b2c1f14a560"  width="200px" height="100px" alt="logo"></a>
        </div>
    </div>
</body>
</html>