<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <div style="background-color: #171C26; color: #fff; padding: 12px 32px;">
        <h3 style="color:white;">Hi, {{firstname}}</h3>
        <div style="height: 50px; width: 100%; margin: auto; font-weight: 700; text-align: center;">
            <h2 style="color:#20C17F; font-size: 1rem; padding-top: 30px">✔ Order {{orderNumber}} confirmed !</h2>
        </div>
        <p style="color:white; margin: 20px 0px;"> 
            Thanks for ordering with us, we will notify you by email when it will be shipped. 
            You can find below the summary of your order and a receipt in attachments of this email
        </p>
        <div style="background-color: #1B212E; margin: 10px auto; padding: 10px 20px; border-radius: 10px; color: #fff;">
            <div style="display: flex; flex-direction: rows; justify-content: flex-start; align-items: center; padding: 10px;">
                <img src="https://firebasestorage.googleapis.com/v0/b/findmystuff-35626.appspot.com/o/mailer%2Fassets%2Ftruck.svg?alt=media&token=1545f173-2882-48ec-9353-e32ba316b29b" width="32px" height="32px" alt="order_logo">
                <h4 style="color: white; padding-left:10px;">Shipping informations</h4>
            </div>
            <div style="padding: 10px;">
                <div style="color: white;">Recipient: {{firstname}} {{lastname}} </div>
                <div style="color: white;">Street: {{street}} </div>
                <div style="color: white;">Zip: {{zip}}</div>
                <div style="color: white;">Country: {{country}}</div>
            </div>
        </div>

        <div style="background-color: #1B212E; margin: 10px auto; padding: 10px 20px; border-radius: 10px; color: #fff;">
            <div style="display: flex; flex-direction: rows; justify-content: flex-start; align-items: center; padding: 10px;">
                <img src="https://firebasestorage.googleapis.com/v0/b/findmystuff-35626.appspot.com/o/mailer%2Fassets%2Forder.svg?alt=media&token=aae2b672-6f9f-4ce3-b868-899a60147983" width="32px" height="32px" alt="ship_logo">
                <h4 style="color: white; padding-left:10px;">Order informations</h4>
            </div>
            <div style="padding: 10px;">
                <div style="color: white;">Model ordered: {{model}}</div>
                <div style="color: white;">Color: {{model_description}} </div>
            </div>
        </div>

        <p style="color:white; margin: 20px 0px;">
            If you have any questions, please contact our support at team@findmystuff.io 
        </p>
        <div style="display: flex; width: 100%; justify-content: center; align-items: center; text-align: center;">
            <a href="https://www.findmystuff.io/" target="_BLANK"><img src="https://firebasestorage.googleapis.com/v0/b/findmystuff-35626.appspot.com/o/logo%2Flogo_white.svg?alt=media&token=738068e0-e37d-44d7-885b-8b2c1f14a560"  width="200px" height="100px" alt="logo"></a>
        </div>
            
    </div>
</body>
</html>